## setting the population size for each generation ##
BC1F1 = 100
BC2F1 = 200
BC3F1 = 300
BCnF1 = 300

## set the number of Backcrossing times ##
BC_times = 5

## set the number of Simulation times ##
Sim_times = 20

